In [2]:
import pandas as pd
import numpy as np

In [3]:
# DataFrame creation
df = pd.read_csv('olist_master_clean.csv', sep=';')    
# sep is separator which shows how the data columns are separated

In [4]:
df.info()   # info() to get summary of the Dataframe df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113425 entries, 0 to 113424
Data columns (total 14 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113425 non-null  object
 1   customer_id                    113425 non-null  object
 2   order_status                   113425 non-null  object
 3   order_purchase_timestamp       113425 non-null  object
 4   order_item_id                  113425 non-null  int64
 5   product_id                     112650 non-null  object
 6   price                          113425 non-null  float64
 7   freight_value                  113425 non-null  float64
 8   customer_unique_id             113425 non-null  object
 9   customer_city                  113425 non-null  object
 10  customer_state                 113425 non-null  object
 11  product_category_name          111046 non-null  object
 12  product_category_name_english  111022 non-null  object
 13  total_sale                     113425 non-null  float64
dtypes: float64(3), int64(1), object(10)
memory usage: 12.1+ MB

In [5]:
df.head(10)

,order_id,customer_id,order_status,order_purchase_timestamp,order_item_id,product_id,price,freight_value,customer_unique_id,customer_city,customer_state,product_category_name,product_category_name_english,total_sale
0,0198e0de42189b3941d46857a87fac91,bc057e26a901167220c6e4a0b0c3ec5d,delivered,2017-11-04 12:33:53,1,2028bf1b01cafb2d2b1901fca4083222,56.99,8.72,095822a49be101736ea0508b80fb827d,sao bernardo do campo,SP,perfumaria,perfumery,65.71
1,04e83658486074318f1a806c19265817,91fd140e38421fcc6f81f31e07d21275,delivered,2018-05-04 21:24:35,1,1dfb36d969d347f56f43590ec42c7b8c,159.99,14.06,f2d2d51b7f7b0c2eae23c90e8c3d1c1f,sao paulo,SP,esporte_lazer,sports_leisure,174.05
2,34ea732800750b670e5f33c56ab3a94e,09d7f60a8fdfeef225e4e5dcd447047d,delivered,2017-09-03 17:12:40,1,5f504b3a1c75b73d6151be81eb05bdc9,610.00,37.54,022e9ef39a8047a24a813f57ad382b94,sao roque,SP,cool_stuff,cool_stuff,647.54
3,65f9be44b39d121b9f03120ae4ceef73,b83aa8732c6dcaf653e111d52ebc91f1,shipped,2018-01-04 16:21:45,1,c6336fa91fbd87c359e44f5dca5a90ed,45.90,14.10,42d2b957a53f0240c81dee35a2463059,goiania,GO,esporte_lazer,sports_leisure,60.00
4,457bb809dc185c4a253943522fa1577c,ee7b0a64a42fd92a3144a38c4f347a9e,delivered,2017-07-07 00:44:08,1,31a2f42a87890f87d77daebdfabc182e,149.00,18.29,bd64e82a5bf0ad0166ad7c72b302bbe4,dourados,MS,brinquedos,toys,167.29
5,37467cda81e62d78bf86acfaa7d9b030,a9d80d8258270aa25541958f8c3904f8,delivered,2017-11-14 22:18:48,1,dd4c3b4ab7e001aaf385ea2e68952030,29.90,15.10,239eca76b80e32a2d564284842d7ba44,montenegro,RS,bebes,baby,45.00
6,d44df0d4c71052d8b2a3bd5c50bd42b5,46e69377adf8857c9ce9c568ba073b06,delivered,2017-01-31 09:31:33,1,f422d0d9f8b5f7c27289382b14b61248,66.99,18.00,04120e49b42d9188cee40d96521d9893,cacapava,SP,brinquedos,toys,84.99
7,ff7f5fd520c590ecb28347614bf26ae2,c97dea389274283c7b7407ae8cf809f8,delivered,2017-03-04 14:23:12,1,9d395a6bc9dbad2dfe60c8c92d8df397,148.00,25.24,659b895fc430805f484d0beef89bf146,ipiau,BA,moveis_decoracao,furniture_decor,173.24
8,13b825fdc28948500cfc7a03eb975fbc,669b06cabc9d39c1bcc52e6889e1318d,delivered,2018-02-13 11:05:56,1,e9f4a2b16f44a27e454037659cceb20f,31.00,11.85,f0903f4311560f0f99dca752df6dfa67,boa esperanca do sul,SP,automotivo,auto,42.85
9,305521e597cd32f946da81d3649d31b9,e0122fe0b17a97af3a4e8b5580a06bb1,delivered,2018-04-11 14:29:53,1,036734b5a58d5d4f46b0616ddc047ced,37.99,7.39,bf0754bdfa216fb85c2c68b121356b29,sao paulo,SP,telefonia,telephony,45.38

In [6]:
# Type conversion to datetime objects
df['order_purchase_timestamp'] = pd.to_datetime(df['order_purchase_timestamp'])  

# Filling null values with 'Unknown'
df['product_category_name_english'] = df['product_category_name_english'].fillna('Unknown')   


# Data Filtering
# order_status with only 'delivered' is copied to new dataframe df_clean
df_clean = df[df['order_status'] == 'delivered'].copy()
print("Successfully filtered !")


# Data Cleaning
# To clean out any 'total_sale' transaction amount with value less than 0
df_clean = df_clean[df_clean['total_sale'] > 0]
print("Successfully cleaned !")

print(f"Cleaned no of rows: {len(df_clean)}")

Successfully filtered !
Successfully cleaned !
Cleaned no of rows: 110197

------------------------------------------------------------------------
### RFM Analysis

##### RFM :- Recency, Frequency, Monetary

Recency (R):  
This measures how recently a customer made a purchase. In a dataframe, we calculate this by finding the time difference between today (or a set anchor date) and each customer's last purchase date. Lower recency values show more recent activity.

Frequency (F):  
This shows how often a customer buys within a certain time frame. In a dataframe, this is calculated by counting each customer's transactions. Higher frequency values mean more frequent engagement.

Monetary Value (M):  
This shows the total money a customer has spent. In a dataframe, this is calculated by adding up the total purchase amount for each customer. Higher monetary values mean more spending.


------------------------------------------------------------------------

In [13]:
#we need a "present day" to calculate Recency. To get latest date from data and add 1 day to it for ranking and grouping customers
PRESENT = df_clean['order_purchase_timestamp'].max() + pd.Timedelta(days=1)


# Calculating RFM
rfm = df_clean.groupby('customer_unique_id').agg({
    'order_purchase_timestamp': lambda date: (PRESENT - date.max()).days, # Recency: Days since last order
    'order_id': 'nunique',        # Frequency: Total no of unique orders
    'total_sale': 'sum'           # Monetary: Total money spent
})


rfm.columns = ['Recency', 'Frequency', 'Monetary']

print('RFM Table:')
print(rfm.head())


# Creating RFM scores (Quantiles)
# Lower Recency and Higher Frequency and Higher Monetory is better
rfm['R_Score'] = pd.qcut(rfm['Recency'], 4, labels=[4, 3, 2, 1])

rfm['F_Score'] = pd.qcut(rfm['Frequency'].rank(method='first'), 4, labels=[1, 2, 3, 4])

rfm['M_Score'] = pd.qcut(rfm['Monetary'].rank(method='first'), 4, labels=[1, 2, 3, 4])

RFM Table:
                                  Recency  Frequency  Monetary
customer_unique_id
0000366f3b9a7992bf8c76cfdf3221e2      112          1    141.90
0000b849f77a49e4a4ce2b2a4ca5be3f      115          1     27.19
0000f46a3911fa3c0805444483337064      537          1     86.22
0000f6ccb0745a6a4b88665a16c9f078      321          1     43.62
0004aac84e0df4da2b147fca70cf8255      288          1    196.89

In [15]:
#Calculating final combined score by joining all 3 columns as a text(concatenated string)
rfm['RFM_Score'] =  rfm['R_Score'].astype(str) + rfm['F_Score'].astype(str) + rfm['M_Score'].astype(str)

#Clean final csv file creation. index=False to prevent extra useless columns
df_clean.to_csv('olist_master_clean_python.csv', index=False)

rfm.to_csv('olist_rfm_segments.csv', index=True)